/*-----------------------------------*/
/*HOME PAGE*/
/*-----------------------------------*/

.solar-content.content-home {
	margin-bottom: 140px;
}

.content-home h3 {
	font-family: "SF-Fourche";
	font-size: 300%;
	line-height: 120%;
	margin: 25px 0;
}

.content-home h4 {
	font-size: 150%;
	font-weight: bold;
	line-height: 120%;
}

.content-home h3:first-child {
	margin-top: -5px;
}

.content-home {
	color: #fff;
}

.content-home [class*='panel-'] {
	padding: 60px;
	position: relative;
}

.content-home .distance-small { height: 10px; }
.content-home .distance-medium { height: 90px; }
.content-home .distance-large { height: 140px; }
.content-home .distance-xl { height: 260px; }

.image-jupiter {
	width: 256px;
	height: 256px;
	background-image: url(../images/jupiter_256.png);
}

.image-flare {
	width: 512px;
	height: 256px;
	background-image: url(../images/flare_512x256.png);
}

.image-hst {
	width: 300px;
	height: 286px;
	background-image: url(../images/hst_300.png);
}

@media (max-width: 767px) {
	.image-flare {
		width: 512px;
		height: 256px;
		background-image: url(../images/flare_512x256.png);
	}
}


/*-----------------------------------*/
/*PANEL WELCOME*/
/*-----------------------------------*/

.content-home .panel-welcome {
	padding: 30px;
}

.content-home .image-jupiter {
	position: absolute;
	left: 50%;
	top: 10px;
	transform: translate(-50%, -50%);
	z-index: -1;
}

.content-home .image-flare {
	position: absolute;
	left: 50%;
	top: -160px;
	transform: translate(-50%, -50%);
	z-index: -1;
}

.content-home .panel-welcome .info-main,
.content-home .panel-welcome .info-sub {
	max-width: 620px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

.content-home .panel-welcome .info-main {
	font-size: 110%;
	line-height: 160%;
}

.content-home .panel-welcome .info-sub {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	margin-top: 30px;
}

.content-home .panel-welcome .info-sub .info-sub-smiley {
	color: #fea700;
	font-size: 300%;
	line-height: 100%;
	font-weight: bold;
	padding: 0 50px 0 20px;
	text-shadow: 1px 0 #fea700;
}

.content-home .panel-welcome .info-sub .info-sub-text {
	font-style: italic;
	font-size: 95%;
	line-height: 160%;
}

/*-----------------------------------*/
/*PANEL SCREENSHOTS*/
/*-----------------------------------*/

.content-home .panel-screenshots {
	padding: 30px;
}

.content-home .panel-screenshots .row {
	margin: -2px;
}

.content-home .panel-screenshots [class*='col-'] {
	padding: 2px;
}

.content-home .panel-screenshots .img-holder {
	border: 2px solid #063e4b;
	width: 100%;
	position: relative;
}

.content-home .panel-screenshots img {
	width: 100%;
	height: auto;
}

/*-----------------------------------*/
/*ABOUT*/
/*-----------------------------------*/

.content-home .about-title {
	font-size: 110%;
	margin-bottom: 16px;
}

.content-home .about-button {
	display: inline-block;
    font-family: "SF-Fourche";
    text-transform: uppercase;
	padding: 12px 16px;
}

/*-----------------------------------*/
/*PANEL FREE*/
/*-----------------------------------*/

.content-home .panel-free {
	text-align: left;
}

.content-home .panel-free .row {
	margin: -20px;
}

.content-home .panel-free [class*='col-'] {
	padding: 20px;
}

.content-home .panel-free h3 {
	font-size: 290%;
	margin-bottom: 60px;
}

.content-home .panel-free .info-main {
	font-size: 110%;
	line-height: 160%;
	padding-top: 10px;
	padding-right: 315px;
	min-height: 194px;
	background-image: url(../images/home/pete-astronauts.png);
	background-repeat: no-repeat;
	background-position: right top;
	background-size: auto auto;
}

@media (max-width: 767px) {
	.content-home .panel-free .info-main {
		padding-top: 220px;
		padding-right: 0;
		background-position: center top;
	}
	.content-home .panel-free h3 {
		text-align: center;
	}
}

@media (max-width: 1199px) {
	.content-home .panel-free .row-holder {
		max-width: 550px;
		margin: 0 auto;
	}
}

.content-home .panel-free .support-title,
.content-home .panel-free .support-list {
	letter-spacing: -1px;
	color: #6eb2c0;
	font-size: 105%;
}

.content-home .panel-free .support-title {
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 30px;
}

.content-home .panel-free .support-list {
}

.content-home .panel-free .support-list p {
	margin: 10px 0;
	padding-left: 20px;
	position: relative;
}

.content-home .panel-free .support-list p:before {
	content: "";
	display: block;
	background-color: #6eb2c0;
	width: 4px;
	height: 4px;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}

.content-home .panel-free .support-list p:first-child { margin-top: 0; }
.content-home .panel-free .support-list p:last-child { margin-bottom: 0; }

.content-home .panel-free .support-list a {
	display: inline-block;
	position: relative;
	color: #fff;
	padding-left: 28px;
	margin-left: 3px;
	letter-spacing: 0;
	font-weight: bold;
}

.content-home .panel-free .support-list a:hover {
	text-decoration: underline;
}

.content-home .panel-free .support-list a:before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: -1px;
	width: 22px;
	height: 22px;
	border-radius: 3px;
	background-color: #2a494f;
	background-repeat: no-repeat;
	background-size: auto auto;
	background-position: center center;
}
.content-home .panel-free .support-list a.homepage:before	{ background-image: url(../images/home/support_icon_homepage.png); }
.content-home .panel-free .support-list a.facebook:before	{ background-image: url(../images/home/support_icon_facebook.png); }
.content-home .panel-free .support-list a.youtube:before	{ background-image: url(../images/home/support_icon_youtube.png); background-color: transparent; }
.content-home .panel-free .support-list a.newsletter:before	{ background-image: url(../images/home/support_icon_newsletter.png); background-color: transparent; }
.content-home .panel-free .support-list a.desktop:before	{ background-image: url(../images/home/support_icon_desktop.png); background-color: #923b00; }
.content-home .panel-free .support-list a.android:before	{ background-image: url(../images/home/support_icon_android.png); background-color: #923b00; }
.content-home .panel-free .support-list a.ios:before		{ background-image: url(../images/home/support_icon_ios.png); background-color: #923b00; }
.content-home .panel-free .support-list a.ideas:before		{ background-image: url(../images/home/support_icon_ideas.png); }

/*-----------------------------------*/
/*PLATFORMS*/
/*-----------------------------------*/

.content-home .platforms-title {
	font-size: 110%;
}

.content-home .panel-platforms {
	
}

.content-home .panel-platforms .row {
	margin: -50px;
	display: flex;
	flex-wrap: wrap;
}

.content-home .panel-platforms [class*='col-'] {
	padding: 50px;
}

.content-home .panel-platforms [class*='col-']:not(:last-child):after {
	content: "";
	display: block;
	position: absolute;
	background-color: rgba(15, 90, 110, .5);
}

.content-home .panel-platforms h3 {
	font-size: 180%;
	text-align: center;
}

.content-home .panel-platforms .max-width-holder {
	max-width: 420px;
	margin: 0 auto;
}

.content-home .panel-platforms .info-main,
.content-home .panel-platforms .info-sub {
	line-height: 150%;
	text-align: left;
	margin-bottom: 10px;
}

.content-home .panel-platforms .info-main {
	color: #fff;
}

.content-home .panel-platforms .info-sub {
	color: rgba(255,255,255,.5);
	font-style: italic;
	font-size: 95%;
}

.content-home .panel-platforms a {
	display: block;
}

.content-home .panel-platforms .center-distance {
	height: 25px;
}

.content-home .panel-platforms a:not(:last-child) {
	margin-bottom: 10px;
}

.content-home .panel-platforms .info-online-check {
	margin-left: auto;
	margin-right: auto;
	max-width: 240px;
	text-align: center;
	color: #fff;
	padding: 10px 16px;
}

.content-home .panel-platforms .info-online-check .check-topic {
	font-size: 90%;
}

.content-home .panel-platforms .info-online-check .check-result {
	font-size: 133%;
	line-height: 100%;
	text-transform: uppercase;
	font-family: "SF-Fourche";
	font-weight: normal;
	
}

.content-home .panel-platforms a.button-desktop {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 240px;
	text-transform: uppercase;
	text-align: center;
	font-size: 133%;
	color: #fff;
	font-family: "SF-Fourche";
	font-weight: normal;
	padding: 14px;
    -webkit-transition: text-shadow 0.15s linear;
    -moz-transition: text-shadow 0.15s linear;
    -ms-transition: text-shadow 0.15s linear;
    -o-transition: text-shadow 0.15s linear;
    transition: text-shadow 0.15s linear;

}

.content-home .panel-platforms a.button-desktop:hover {
	text-shadow: 0 0 15px #ffffff, 0 0 50px #ffffff;
}

.content-home .panel-platforms .button-googleplay > img,
.content-home .panel-platforms .button-itunes > img {
	width: 164px;
}

@media (max-width: 991px) {
	.content-home .panel-platforms [class*='col-']:not(:last-child):after {
		left: 50px;
		right: 50px;
		bottom: 0;
		height: 2px;
	}
}

@media (min-width: 992px) {
	.content-home .panel-platforms [class*='col-']:not(:last-child):after {
		right: 0;
		top: 50px;
		bottom: 50px;
		width: 2px;
	}
	.content-home .panel-platforms .info-online-check,
	.content-home .panel-platforms .button-desktop {
		position: absolute;
		left: 50px;
		right: 50px;
		bottom: 50px;
	}
}

/*-----------------------------------*/
/*PANEL NEWS HEADER*/
/*-----------------------------------*/

.content-home .panel-news-header {
	padding: 45px;
}

.content-home .image-hst {
	position: absolute;
	left: 50%;
	top: -130px;
	transform: translate(-50%, -50%);
	z-index: -1;
}

.content-home .panel-news-header h3:not(:last-child) {
	margin-bottom: 20px;
}

.content-home .panel-news-header .description {
	max-width: 750px;
	margin: 0 auto;
}

/*-----------------------------------*/
/*PANEL NEWS CONTENT*/
/*-----------------------------------*/

.content-home .panel-news-content h3 {
	font-size: 180%;
}

.content-home .panel-news-content .col-release-logs {
	text-align: left;
}

.content-home .panel-news-content  .col-release-latest .release-latest-content {
	text-align: left;
}

.content-home .panel-news-content .col-release-latest .max-width-holder {
    max-width: 420px;
    margin: 0 auto;
}

@media (max-width: 767px) {
	.content-home .panel-news-content .col-release-logs .max-width-holder {
		max-width: 420px;
		margin: 0 auto;
	}
	.content-home .panel-news-content .col-release-logs h3 {
		text-align: center;
	}
}


.content-home .panel-news-content > .row {
	display: flex;
	flex-wrap: wrap;
	margin: -40px;
}

.content-home .panel-news-content > .row > [class*='col-'] {
	padding: 40px;
}

.content-home .panel-news-content > .row > [class*='col-']:not(:last-child):after {
	content: "";
	display: block;
	position: absolute;
	background-color: rgba(15, 90, 110, .5);
}

@media (max-width: 991px) {
	.content-home .panel-news-content > .row > [class*='col-']:not(:last-child):after {
		left: 40px;
		right: 40px;
		bottom: 0;
		height: 2px;
	}
}

@media (min-width: 992px) {
	.content-home .panel-news-content > .row > [class*='col-']:not(:last-child):after {
		right: 0;
		top: 40px;
		bottom: 40px;
		width: 2px;
	}
}

.content-home .panel-news-content .col-release-latest .small-banner {
	display: block;
	width: 100%;
	padding-bottom: 35%;
	margin-bottom: 25px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.content-home .panel-news-content .col-release-latest a.link-box {
	display: block;
	position: relative;
	padding-right: 60px;
	color: #fff;
}

.content-home .panel-news-content .col-release-latest a.link-box:after {
	content: "";
	display: block;
	width: 34px;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	max-height: 64px;
	margin: auto 0;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center center;
	background-image: url(../images/icons/tech-arrow-blue-right.png);
	opacity: .5;
}
.content-home .panel-news-content .col-release-latest a.link-box:hover:after {
	opacity: 1;
}

.content-home .panel-news-content .col-release-latest .paper-planets .small-banner {
	background-image: url(../images/home/news-small-banner_paper-planets.jpg);
}

.content-home .panel-news-content .col-release-latest .astronomy-places .small-banner {
	background-image: url(../images/home/news-small-banner_astronomy-places.jpg);
}

.content-home .panel-news-content .col-release-logs .row-release-logs-data {
	display: flex;
	flex-wrap: wrap;
}

.content-home .panel-news-content .col-release-logs p,
.content-home .panel-news-content .col-release-logs a {
	display: block;
	line-height: 20px;
	margin: 0;
	min-height: 18px;
}

.content-home .panel-news-content .col-release-logs p:not(:last-child),
.content-home .panel-news-content .col-release-logs a:not(:last-child) {
	margin-bottom: 4px;
}

.content-home .panel-news-content .col-release-logs p.date {
	color: rgba(255,255,255,.5);
	font-size: 90%;
	font-style: italic;
}

.content-home .panel-news-content .col-release-logs a {
	color: #fff;
}

.content-home .panel-news-content .col-release-logs a:hover {
	text-shadow: 0 0 10px #ffffff;
}

.content-home .panel-news-content .col-release-logs a.button-solarlab {
	position: absolute;
	left: 15px;
	right: 15px;
	bottom: 0;
	font-weight: bold;
	font-size: 110%;
	font-style: italic;
}

.content-home .panel-news-content .col-release-logs a:before {
	content: "[link]";
	font-weight: bold;
	font-style: normal;
	font-size: 12px;
	padding-right: 6px;
	color: #21c9fd;
	opacity: .5;
}

.content-home .panel-news-content .col-release-logs a:hover:before {
	opacity: 1;
}


/*-----------------------------------*/
/*PANEL MERCHANDISE HEADER*/
/*-----------------------------------*/

.content-home .panel-merchandise {
	padding: 45px;
}

.content-home .panel-merchandise h3 {
	margin-bottom: 20px;
	text-transform: uppercase;
}

.content-home .panel-merchandise .description {
	max-width: 750px;
	margin: 0 auto;
}

.content-home .merchandise-preview-items {
	display: block;
	margin-top: 30px;
	margin-left: 0;
	margin-right: 0;
}

.content-home .merchandise-preview-items [class*='col-'] {
	padding: 1px;
	display: block;
	opacity: .8;
}

.content-home .merchandise-preview-items [class*='col-']:hover {
	opacity: 1;
}

.content-home .merchandise-preview-items [class*='col-']:after {
	content: "";
	display: block;
	padding-bottom: 100%;
	background-size: 100% 100%;
}
.content-home .merchandise-preview-items .item1:after { background-image: url(../images/merchandise/merch_item1.jpg); }
.content-home .merchandise-preview-items .item2:after { background-image: url(../images/merchandise/merch_item2.jpg); }
.content-home .merchandise-preview-items .item3:after { background-image: url(../images/merchandise/merch_item3.jpg); }
.content-home .merchandise-preview-items .item4:after { background-image: url(../images/merchandise/merch_item4.jpg); }
.content-home .merchandise-preview-items .item5:after { background-image: url(../images/merchandise/merch_item5.jpg); }
.content-home .merchandise-preview-items .item6:after { background-image: url(../images/merchandise/merch_item6.jpg); }

.content-home .panel-merchandise a.button-shop {
	display: block;
	font-size: 140%;
	padding: 14px 12px;
	background-color: #0052cf;
	font-style: italic;
	text-transform: uppercase;
	color: #fff;
    font-family: "SF-Fourche";
    font-weight: normal;
	margin-top: 30px;
}

.content-home .panel-merchandise a.button-shop:hover {
	background-color: #0065ff;
}

.content-home .panel-merchandise .astronaut {
	display: inline-block;
	width: 100%;
	max-width: 459px;
	position: relative;
}

.content-home .panel-merchandise .astronaut:after {
	content: "";
	display: block;
	width: 100%;
	height: 0;
	padding-bottom:112%;
	background-image: url(../images/merchandise/merch_astronaut.jpg);
	background-size: 100% 100%;
}

@media (max-width: 991px) {
	.content-home .panel-merchandise > .maxw {
		max-width: 460px;
		margin: 0 auto;
	}
	.content-home .panel-merchandise .astronaut {
		margin-bottom: 30px;
	}
}

/*-----------------------------------*/
/*PANEL LAB*/
/*-----------------------------------*/

.content-home .panel-lab {
	text-align: left;
}

@media (max-width: 1199px) {
	.content-home .panel-lab .row-holder {
		max-width: 540px;
		margin: 0 auto;
	}
}

@media (max-width: 767px) {
	.content-home .panel-lab h3 {
		text-align: center;
	}
}

.content-home .panel-lab .row-lab-header {
	margin-bottom: 30px;
	display: flex;
	flex-wrap: wrap;
}

.content-home .panel-lab .row-lab-header .solarlab-lines {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	height: 50px;
}

@media (max-width: 767px) {
	.content-home .panel-lab .row-lab-header h3 {
		float: left;
	}
	.content-home .panel-lab .row-lab-header .solarlab-lines {
		float: left;
		position: relative;
		height: 40px;
		margin: 0 -100px 0 0;
	}
}

.content-home .panel-lab .row-lab-header p {
	margin: 0;
}
.content-home .panel-lab .row-lab-header p:not:(:last-child) {
	margin-bottom: 10px;
}

.content-home .panel-lab a.button-lab {
	display: block;
	position: relative;
    text-transform: uppercase;
    text-align: center;
    font-size: 133%;
    color: #fff;
    font-family: "SF-Fourche";
    font-weight: normal;
    padding: 18px;
    -webkit-transition: text-shadow 0.15s linear;
    -moz-transition: text-shadow 0.15s linear;
    -ms-transition: text-shadow 0.15s linear;
    -o-transition: text-shadow 0.15s linear;
    transition: text-shadow 0.15s linear;
}

.content-home .panel-lab a.button-lab:hover {
	text-shadow: 0 0 15px #ffffff, 0 0 50px #ffffff;
}

.content-home .panel-lab .image-lab-art-holder {
	position: relative;
	margin: -40px -20px;
}

.content-home .panel-lab .image-lab-art {
	max-width: 100%;
}

