/*-----------------------------------*/
/*BUTTONS*/
/*-----------------------------------*/

a.solar-row-button {
    padding: 20px 60px;
    display: inline-block;
    font-family: "SF-Fourche";
    color: #fff;
    text-transform: uppercase;
}

.btn-type-1-green,
.btn-type-1-blue,
.btn-type-2-turquoise,
.btn-type-3-yellow,
.btn-type-3-turquoise,
.btn-type-3-green,
.btn-type-4-bw,
.btn-type-4-green,
.btn-type-6-turquoise,
.btn-type-6-blue-fade,
.btn-type-7-edge-on-white,
.btn-type-8-turquoise {
    background-color: transparent;
    background-image: none;
    border-style: solid;
    border-color: transparent;
    border-image-outset: 0;
    border-image-repeat: stretch;
    position: relative;
    display: inline-block;
    font-family: "SF-Fourche";
    text-transform: uppercase;
}

.btn-type-9 {
    background-color: transparent;
    background-image: none;
    border-style: solid;
    border-color: transparent;
    border-image-outset: 0;
    border-image-repeat: stretch;
    position: relative;
    display: inline-block;
    padding: 24px 28px;
    border-image-slice: 10 fill;
    border-image-width: 10px;
	color: #176f7f;
	font-weight: bold;
}
a.btn-type-9 {
	color: #176f7f;
	font-weight: bold;
}

.btn-type-1-green,
.btn-type-1-blue {
    border-image-slice: 13 fill;
    border-image-width: 13px;
    border-image-outset: 2px;
    -webkit-transition: text-shadow 0.15s linear;
    -moz-transition: text-shadow 0.15s linear;
    -ms-transition: text-shadow 0.15s linear;
    -o-transition: text-shadow 0.15s linear;
    transition: text-shadow 0.15s linear;
    padding: 22px;
}

.btn-type-1-green, a.btn-type-1-green,
.btn-type-1-blue, a.btn-type-1-blue {
    color: #fff;
}

.btn-type-2-turquoise,
.btn-type-3-yellow,
.btn-type-3-turquoise,
.btn-type-3-green {
    border-image-slice: 20 14 fill;
    border-image-width: 20px 14px;
    -webkit-transition: text-shadow 0.15s linear;
    -moz-transition: text-shadow 0.15s linear;
    -ms-transition: text-shadow 0.15s linear;
    -o-transition: text-shadow 0.15s linear;
    transition: text-shadow 0.15s linear;
}

.btn-type-6-turquoise,
.btn-type-6-blue-fade {
    border-image-slice: 23 15 fill;
    border-image-width: 23px 15px;
    -webkit-transition: text-shadow 0.15s linear;
    -moz-transition: text-shadow 0.15s linear;
    -ms-transition: text-shadow 0.15s linear;
    -o-transition: text-shadow 0.15s linear;
    transition: text-shadow 0.15s linear;
}

.btn-type-7-edge-on-white {
    border-image-slice: 10 fill;
    border-image-width: 10px;
    padding: 4px;
}
.btn-type-7-edge-on-white.bg-teal {
    background-color: #155969;
}
a.btn-type-7-edge-on-white {
    color: #176f7f;
}
a.btn-type-7-edge-on-white.bg-teal {
    color: #fff;
}
a.btn-type-7-edge-on-white.br-teal:hover {
    background-color: #155969;
    color: #fff;
}
a.btn-type-7-edge-on-white.bg-teal:hover {
    background-color: #1e8caa;
}

.btn-type-8-turquoise {
	border-image-slice: 48 fill;
    border-image-width: 48px;
	-webkit-transition: text-shadow 0.15s linear;
    -moz-transition: text-shadow 0.15s linear;
    -ms-transition: text-shadow 0.15s linear;
    -o-transition: text-shadow 0.15s linear;
    transition: text-shadow 0.15s linear;
	padding: 22px 44px;
}

/*
.btn-type-6-turquoise:after,
.btn-type-6-blue-fade:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(farthest-side, rgba(160,255,255,.35), rgba(160,255,255,0));
    opacity: 0;
    -webkit-transition: opacity 0.15s linear, color 0.15s linear;
    -moz-transition: opacity 0.15s linear, color 0.15s linear;
    -ms-transition: opacity 0.15s linear, color 0.15s linear;
    -o-transition: opacity 0.15s linear, color 0.15s linear;
    transition: opacity 0.15s linear, color 0.15s linear;
}

.btn-type-6-turquoise:hover:after,
.btn-type-6-blue-fade:hover:after {
    opacity: 1;
}
*/
.btn-type-1-green                 { border-image-source: url(../images/panels/btn-type-1-green.png); }
.btn-type-1-blue                  { border-image-source: url(../images/panels/btn-type-1-blue.png); }
.btn-type-2-turquoise             { border-image-source: url(../images/panels/btn-type-2-turquoise.png); }
.btn-type-3-turquoise             { border-image-source: url(../images/panels/btn-type-3-turquoise.png); }
.btn-type-3-yellow                { border-image-source: url(../images/panels/btn-type-3-yellow.png); }
.btn-type-3-green                 { border-image-source: url(../images/panels/btn-type-3-green.png); }
.btn-type-6-turquoise             { border-image-source: url(../images/panels/btn-type-6-turquoise.png); }
.btn-type-6-blue-fade             { border-image-source: url(../images/panels/btn-type-6-blue-fade.png); }
.btn-type-7-edge-on-white         { border-image-source: url(../images/panels/btn-type-7-edge-on-white.png); }
.btn-type-7-edge-on-white.br-teal { border-image-source: url(../images/panels/btn-type-7-edge-on-white-br-teal.png); }
.btn-type-8-turquoise             { border-image-source: url(../images/panels/btn-type-8-turquoise.png); }
.btn-type-9                       { border-image-source: url(../images/panels/btn-type-9.png); }

.btn-type-1-green:hover:not([disabled])     { text-shadow: 0 0 15px #d2ff00, 0 0 50px #d2ff00; }
.btn-type-1-blue:hover:not([disabled])      { text-shadow: 0 0 15px #ffffff, 0 0 50px #ffffff; }
.btn-type-2-turquoise:hover:not([disabled]) { text-shadow: 0 0 15px #00ffdc, 0 0 50px #00ffdc; }
.btn-type-3-turquoise:hover:not([disabled]) { text-shadow: 0 0 15px #00ffdc, 0 0 50px #00ffdc; }
.btn-type-3-yellow:hover:not([disabled])    { text-shadow: 0 0 15px #ffeb00, 0 0 50px #ffeb00; }
.btn-type-3-green:hover:not([disabled])     { text-shadow: 0 0 15px #ffeb00, 0 0 50px #baff00; }
.btn-type-6-turquoise:hover:not([disabled]) { text-shadow: 0 0 15px #00ffdc, 0 0 50px #00ffdc; }
.btn-type-6-blue-fade:hover:not([disabled]) { text-shadow: 0 0 15px #00ffdc, 0 0 50px #00ffdc; }
.btn-type-8-turquoise:hover:not([disabled]) { text-shadow: 0 0 15px rgba(0, 255, 220, .75), 0 0 50px rgba(0, 255, 220, .75); }

.btn-type-4-bw,
.btn-type-4-green {
    border-image-slice: 40 fill;
    border-image-width: 40px;
}

.btn-type-4-bw    { border-image-source: url(../images/panels/btn-type-4-bw.png); }
.btn-type-4-green { border-image-source: url(../images/panels/btn-type-4-green.png); }

.btn-type-5-white,
.btn-type-5-green {
    position: relative;
}

.btn-type-5-white:before,
.btn-type-5-green:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: none;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 19 fill;
    border-image-width: 19px;
    opacity: .1;
}

a.btn-type-5-white:hover:before,
a.btn-type-5-green:hover:before {
    opacity: .2;
}

.btn-type-5-white:before { border-image-source: url(../images/panels/btn-type-5-white.png); }
.btn-type-5-green:before { border-image-source: url(../images/panels/btn-type-5-green.png); }

/*-----------------------------------*/
/*PANELS*/
/*-----------------------------------*/

.panel-type-1,
.panel-type-2,
.panel-type-3,
.panel-type-3-v2-top,
.panel-type-3-v2-bottom,
.panel-type-4,
.panel-type-4-lighter-1px,
.panel-type-5,
.panel-type-6,
.panel-type-7,
.panel-type-7-edge-on-white,
.panel-type-7-edge-on-white-to-btn,
.panel-type-8,
.panel-type-9,
.panel-type-10,
.panel-type-10-semi-black-bg,
.panel-type-10-blue-bg,
.panel-title-box {
    background-image: none;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-style: solid;
    border-color: transparent;
    position: relative;
    display: block;
}

.panel-type-1 {
    border-image-slice: 16 48 fill;
    border-image-width: 16px 48px;
    padding: 16px;
}
.panel-type-2 {
    border-image-slice: 26 60 fill;
    border-image-width: 26px 60px;
    padding: 26px;
}
.panel-type-3 {
    border-image-slice: 40 30 fill;
    border-image-width: 40px 30px;
    padding: 70px 80px;
}
.panel-type-3-v2-top {
    border-image-slice: 40 30 0 fill;
    border-image-width: 40px 30px 0;
    padding: 70px 80px 0;
    margin-bottom: 0 !important;
    padding: 26px;
}
.panel-type-3-v2-bottom {
    border-image-slice: 0 30 40 fill;
    border-image-width: 0 30px 40px;
    padding: 0 80px 70px;
    margin-top: 0 !important;
    padding: 12px 26px 26px;
}
.panel-type-4,
.panel-type-4-lighter-1px {
    border-image-slice: 15 fill;
    border-image-width: 15px;
    padding: 20px;
}
.panel-type-5 {
    border-image-slice: 32 60 fill;
    border-image-width: 32px 60px;
    padding: 26px;
}
.panel-type-6 {
    border-image-slice: 21 48 fill;
    border-image-width: 21px 48px;
    padding: 30px;
}
.panel-type-7,
.panel-type-7-edge-on-white,
.panel-type-7-edge-on-white-to-btn {
    border-image-slice: 15 fill;
    border-image-width: 15px;
}
.panel-type-7-edge-on-white-to-btn {
    background-color: #155869;
    padding: 12px;
    color: #fff;
    font-family: "SF-Fourche";
}
a.panel-type-7-edge-on-white-to-btn {
    color: #fff;
}
a.panel-type-7-edge-on-white-to-btn:hover {
    background-color: #1e8caa;
}
.panel-type-8 {
    border-image-slice: 15 426 46 15 fill;
    border-image-width: 15px 426px 46px 15px;
    padding: 20px 30px 65px 30px;
}
.panel-type-8-buttons-list {
    position: absolute;
    right: 35px;
    bottom: 6px;
    width: 344px;
    display: flex;
    flex-direction: row;
    font-size: 90%;
}
.panel-type-8-buttons-list > * {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 2px;
    line-height: 120%;
}
.panel-type-9 {
    border-image-slice: 16 fill;
    border-image-width: 16px;
    padding: 24px;
}
.panel-type-10,
.panel-type-10-semi-black-bg,
.panel-type-10-blue-bg {
    border-image-slice: 10 fill;
    border-image-width: 10px;
    padding: 30px;
}
.panel-title-box {
    border-image-slice: 10 40 40 10 fill;
    border-image-width: 10px 40px 40px 10px;
    padding: 10px 40px 10px 10px;
}

.panel-type-1               { border-image-source: url(../images/panels/panel-type-1.png); }
.panel-type-1.type-stroke   { border-image-source: url(../images/panels/panel-type-1-stroke.png); }
.panel-type-1.type-fill     { border-image-source: url(../images/panels/panel-type-1-fill.png); }
.panel-type-2               { border-image-source: url(../images/panels/panel-type-2.png); }
.panel-type-3               { border-image-source: url(../images/panels/panel-type-3.png); }
.panel-type-3-v2-top        { border-image-source: url(../images/panels/panel-type-3-v2-top.png); }
.panel-type-3-v2-bottom     { border-image-source: url(../images/panels/panel-type-3-v2-bottom.png); }
.panel-type-4               { border-image-source: url(../images/panels/panel-type-4.png); }
.panel-type-4-lighter-1px   { border-image-source: url(../images/panels/panel-type-4-lighter-1px.png); }
.panel-type-5               { border-image-source: url(../images/panels/panel-type-5.png); }
.panel-type-6               { border-image-source: url(../images/panels/panel-type-6.png); }
.panel-type-7               { border-image-source: url(../images/panels/panel-type-7.png); }
.panel-type-7-edge-on-white,
.panel-type-7-edge-on-white-to-btn
                            { border-image-source: url(../images/panels/panel-type-7-edge-on-white.png); }
.panel-type-8               { border-image-source: url(../images/panels/panel-type-8.png); }
.panel-type-9               { border-image-source: url(../images/panels/panel-type-9.png); }
.panel-type-10              { border-image-source: url(../images/panels/panel-type-10.png); }
.panel-type-10-semi-black-bg { border-image-source: url(../images/panels/panel-type-10-semi-black-bg.png); }
.panel-type-10-blue-bg      { border-image-source: url(../images/panels/panel-type-10-blue-bg.png); }
.panel-title-box            { border-image-source: url(../images/panels/panel-title-box.png); }



@media (max-width: 767px) {
    .panel-type-8           { border-image-source: url(../images/panels/panel-type-7.png); }
    .panel-type-8 {
        border-image-slice: 15 fill;
        border-image-width: 15px;
    }
    .panel-type-8-buttons-list {
        left: 30px;
        right: 30px;
        width: auto;
        bottom: 10px;
    }
}

.panel-type-6 .arrow-left,
.panel-type-6 .arrow-right {
    width: 29px;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto auto;
    background-image: url(../images/panels/panel-type-6-arrow-left.png);
    position: absolute;
    top: 0;
    bottom: 0;
}
.panel-type-6 .arrow-left {
    left: -52px;
}
.panel-type-6 .arrow-right {
    right: -52px;
    transform: scaleX(-1);
}

.solar-panel-padding {
    padding: 34px;
}

.panel-info {
    color: #0092b3;
    font-size: 85%;
    text-align: left;
}

.panel-info:before {
    content: "";
    display: block;
    float: left;
    width: 24px;
    height: 52px;
    background-size: 100% 100%;
    background-image: url(../images/icons/info-on-panel.png);
	margin-left: -6px;
    margin-right: 8px;
}



/*-----------------------------------*/
/*INPUT*/
/*-----------------------------------*/

input {
    position: relative;
    max-width: none;
}

input:focus {
    outline: 0;
}

input, input.form-control::-webkit-input-placeholder { color: #0092b3; font-family: "SF-Fourche"; transition: color 0.1s linear; }
input, input.form-control::-moz-placeholder          { color: #0092b3; font-family: "SF-Fourche"; transition: color 0.1s linear; }
input, input.form-control:-ms-input-placeholder      { color: #0092b3; font-family: "SF-Fourche"; transition: color 0.1s linear; }
input, input.form-control:-moz-placeholder           { color: #0092b3; font-family: "SF-Fourche"; transition: color 0.1s linear; }
input, input.form-control::placeholder               { color: #0092b3; font-family: "SF-Fourche"; transition: color 0.1s linear; }

textarea, textarea.form-control::-webkit-input-placeholder { color: #0092b3; font-family: "SF-Fourche"; transition: color 0.1s linear; }
textarea, textarea.form-control::-moz-placeholder          { color: #0092b3; font-family: "SF-Fourche"; transition: color 0.1s linear; }
textarea, textarea.form-control:-ms-input-placeholder      { color: #0092b3; font-family: "SF-Fourche"; transition: color 0.1s linear; }
textarea, textarea.form-control:-moz-placeholder           { color: #0092b3; font-family: "SF-Fourche"; transition: color 0.1s linear; }
textarea, textarea.form-control::placeholder               { color: #0092b3; font-family: "SF-Fourche"; transition: color 0.1s linear; }

input, input.form-control:focus::-webkit-input-placeholder { color: transparent; }
input, input.form-control:focus::-moz-placeholder          { color: transparent; }
input, input.form-control:focus:-ms-input-placeholder      { color: transparent; }
input, input.form-control:focus:-moz-placeholder           { color: transparent; }
input, input.form-control:focus::placeholder               { color: transparent; }

textarea, textarea.form-control:focus::-webkit-input-placeholder { color: transparent; }
textarea, textarea.form-control:focus::-moz-placeholder          { color: transparent; }
textarea, textarea.form-control:focus:-ms-input-placeholder      { color: transparent; }
textarea, textarea.form-control:focus:-moz-placeholder           { color: transparent; }
textarea, textarea.form-control:focus::placeholder               { color: transparent; }

label {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

input[type="checkbox"].solar-checkbox {
    opacity: 0;
    position: absolute;
}

input[type="checkbox"].solar-checkbox + label {
    cursor: pointer;
}
input[type="checkbox"].solar-checkbox + label:before {
    content: "";
    display: inline-block;
    width: 21px;
    height: 21px;
    background-size: 200% 200%;
    background-image: url(../images/ui/checkbox.png);
    background-position: 0 0;
    vertical-align: middle;
    margin-right: 10px;
    position: relative;
    top: -2px;
}
input[type="checkbox"].solar-checkbox:hover + label:before { background-position: 0 100%; }
input[type="checkbox"].solar-checkbox:checked + label:before { background-position: 100% 0; }
input[type="checkbox"].solar-checkbox:checked:hover + label:before { background-position: 100% 100%; }

input.input-type-1,
input.input-type-1-inv,
input.input-type-1-cen {
    background-color: transparent;
    background-image: none;
    position: relative;
    display: block;
    width: 100%;
    height: 44px;
    padding: 9px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #fff;
}

input.input-type-1,
input.input-type-1-inv,
input.input-type-1-cen {
    border-image-outset: 5px;
    border-image-repeat: stretch;
}

input.input-type-1 {
    border-image-slice: 9 66 34 9 fill;
    border-image-width: 9px 66px 34px 9px;
    border-image-source: url(../images/ui/input-type-1.png);
}

input.input-type-1-inv {
    border-image-slice: 34 66 9 9 fill;
    border-image-width: 34px 66px 9px 9px;
    border-image-source: url(../images/ui/input-type-1-inv.png);
}

input.input-type-1-cen {
    border: 2px solid #16849d;
}

/*-----------------------------------*/
/*TEXT-GLOW*/
/*-----------------------------------*/

.text-glow {
    text-shadow: 0 0 20px #fff;
}

a.text-glow {
    -webkit-transition: text-shadow 0.15s linear;
    -moz-transition: text-shadow 0.15s linear;
    -ms-transition: text-shadow 0.15s linear;
    -o-transition: text-shadow 0.15s linear;
    transition: text-shadow 0.15s linear;
}

a.text-glow:hover,
a.text-glow:focus {
    text-shadow: 0 0 10px #3cf0ff, 0 0 25px #3cf0ff, 0 0 50px #3cf0ff;
}

/*-----------------------------------*/
/*MODAL*/
/*-----------------------------------*/

.modal-dialog,
.modal-alt-static {
    width: 500px;
    margin: 60px auto;
}
.modal-alt-static {
	margin: 0 auto;
	padding: 70px 80px;
}

.btn-close-modal {
    display: inline-block;
    position: absolute;
    border-width: 0;
    right: 25px;
    top: 35px;
    width: 28px;
    height: 28px;
    z-index: 99;
    background-size: 100% 200%;
    background-image: url(../images/ui/btn-close.png);
    background-position: 0 0;
    background-color: transparent;
}

.btn-close-modal:hover {
    background-position: 0 -100%;
}

/*-----------------------------------*/
/*SOLAR FORM*/
/*-----------------------------------*/

.solar-form .form-control {
	border-radius: 0;
	box-shadow: none;
}

.solar-form {
    position: relative;
}

.solar-form label.error,
.solar-form .solar-form-row.error {
    font-size: 90%;
    font-weight: bold;
    color: #a94442;
}

.solar-form .solar-form-row.error {
    text-align: left;
}

.solar-form-row-dist {
    margin-top: 8px;
    margin-bottom: 8px;
    height: 14px;
}

.solar-form-row {
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: center;
}

.solar-form-row:first-child { margin-top: 0; }
.solar-form-row:last-child { margin-bottom: 0; }

/*-----------------------------------*/
/*LOGIN FORM*/
/*-----------------------------------*/

input[type="checkbox"].remember-login + label {
    font-weight: normal;
    color: #00deff;
}

input[type="checkbox"].remember-login:hover + label {
    color: #fff;
}

.solar-form-row.buttons-login-register {
    display: flex;
	margin: 0 -4px;
}

.solar-form-row.buttons-login-register > * {
    flex: 1;
    padding: 16px;
	margin: 0 4px;
}

.modal         .register-link   { display: none; }
.solar-content .register-button { display: none; }
.modal         .buttons-login-register { margin-top: 30px; }
.solar-content .buttons-login-register { margin-bottom: 30px; }

/*-----------------------------------*/
/*REGISTER PAGE, LOGIN PAGE*/
/*-----------------------------------*/


.row-create-account,
.row-button-send-email-password-reset {
    margin-top: 20px;
}

.row-create-account button,
.row-button-send-email-password-reset button {
    padding: 18px;
    display: block;
    width: 100%;
}

.row-button-register a { padding: 4px; }

.reset-password-topic {
	margin-bottom: 24px;
}

/*-----------------------------------*/
/*SHOW ON START*/
/*-----------------------------------*/

.show-on-start {
    -webkit-transition-delay: 1s;
            transition-delay: 1s;
    -webkit-animation: fadein 1s;
       -moz-animation: fadein 1s;
        -ms-animation: fadein 1s;
         -o-animation: fadein 1s;
            animation: fadein 1s;
}
@keyframes         fadein { from { opacity: 0; } to { opacity: 1; } }
@-moz-keyframes    fadein { from { opacity: 0; } to { opacity: 1; } }
@-webkit-keyframes fadein { from { opacity: 0; } to { opacity: 1; } }
@-ms-keyframes     fadein { from { opacity: 0; } to { opacity: 1; } }
@-o-keyframes      fadein { from { opacity: 0; } to { opacity: 1; } }